<!-- ADD NEW BLOG MODAL -->
<div
  class="modal fade"
  id="addNewBlogModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/addNewBlog" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ADD BLOG</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="title">Blod Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              placeholder="Enter Title"
              required
            />
          </div>
          <div class="form-group">
            <label for="content">Content</label>
            <textarea
              class="form-control"
              name="content"
              id="content"
              cols="30"
              rows="5"
              placeholder="Enter The Contents"
              required
            ></textarea>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="sure" />
            <label class="form-check-label" for="sure" required
              >are you sure?</label
            >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- DELETE BLOG MODAL -->
<div
  class="modal fade"
  id="deleteBlogModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/deleteBlog" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">DELETE BLOG</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="text" hidden id="blogIdToDelete" name="blogId" />
            <h6 style="font-weight: bold">
              Are you sure you want to
              <span style="color: red">DELETE</span> blog??
            </h6>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- EDIT NEW BLOG MODAL -->
<div
  class="modal fade"
  id="updateBlogModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/updateBlog" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">UPDATE BLOG</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" hidden id="blogIdToUpdate" name="blogId" />
          <div class="form-group">
            <label for="title">Blod Title</label>
            <input
              type="text"
              class="form-control"
              id="blogTitleToUpdate"
              name="title"
              placeholder="Enter Title"
            />
          </div>
          <div class="form-group">
            <label for="content">Content</label>
            <textarea
              class="form-control"
              name="content"
              id="blogContentToUpdate"
              cols="30"
              rows="5"
              placeholder="Enter The Contents"
            ></textarea>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="sure" />
            <label class="form-check-label" for="sure">are you sure?</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-warning">UPDATE</button>
        </div>
      </form>
    </div>
  </div>
</div>
