body {
  margin: 10px;
  text-align: center;
  background-color: #eee;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 10px;
}
.modal-body {
  display: flex;
  flex-direction: column;
}
.modal-body input,
textarea {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.searchBar form {
  display: block;
  margin: 10px;
  background-color: #eee;
}
